# ----- Keil MDK 生成文件 -----
*.axf
*.uvguix.*
*.dep
*.d
*.crf
*.o
*.lst
*.map
*.htm
*.sct
*.lnp
*.build_log.htm
*.iex
*.trail
*.bak
*.map

# ----- 编译输出目录 -----
/Objects/
/Listings/
/PRJ/

# ----- 调试/跟踪相关 -----
*.scvd
*.dbg
*.ini

# ----- IDE 项目配置-----
*.uvoptx
*.uvprojx
*.uvprojx.dbs

# ----- 其他工具生成文件 -----
*.jlink
*.jdebug
*.stlink
*.pack
*.elf
*.bin
*.hex

# ----- 系统/编辑器临时文件 -----
.DS_Store
Thumbs.db
*.swp
*.swo
~$*

# ----- 本地开发环境文件 -----
.vscode/
.idea/

